
.firstsection{
    width: 100%;
    height: 100%;
    
    background-image: url("paodg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
   background-size: cover;
    background-position-x: center;
}

.par{


    color: white;
    font-size: 25px;
    margin-top: 25px;
    font-family: 'Satisfy', cursive;
    
    

}

.par1{


    color: white;
    font-size: 15px;
    font-family: 'Satisfy', cursive;
    

}

.division1{
    background-color: rgba(153, 0, 153, 0.6);
    height: 300px;
    width: 100%;
    margin-top: 30vw;
    position: absolute;
    text-align: center;


}

.firstsec{


    color: black;
    background-color: #660066;

    
}

.address{
    font-size: 60px;
    text-align: center;
    letter-spacing: 5px;
    color: white;
    margin-top: 20px;
    font-family: 'Satisfy', cursive;
    
}



.imj{
padding-right: 10px;
    
} 

.imj1{
    height: 40%;


}

.imj2{
    height: 65%;


}





.divo{


padding:20px;


}

.header{

   
    padding-top: 50px;
    text-align: center;
    color: black;
    font-family: 'Roboto Slab', serif;
    text-decoration: underline;
}

.header1{

   
    padding-top: 50px;
    text-align: center;
    text-decoration: underline;
    color: #d616d6;
    font-family: 'Roboto Slab', serif;
}
.bck{


    background-color: #660066;
    padding-bottom:  20px;
    
}

.bck1{

    background-color: white;
}


.bck2{
    background-color: grey;
    background-image: url("Dane-Queenan-Marketing-Icon-1.png");
    

}
.button{

    width: 200px;
    height: 75px;
    text-align: center;
    border-radius: 8px;
    background-color: black;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    

}

.button:hover{
    opacity: 0.7;

}


.alig{

    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.seminar{
    background-color:white;
}
.seminar-img{
    padding:20px;
}
.footer{
    padding: 64px 0px 0px 0px;
    background-color: white;
}
.foot{
    text-align: center;
    background-color: #777777;
    width: 100%;
    padding: 64px 0px;
}
.foot:hover{
    background-color: black;
}
.foot:hover .fa-arrow-up{
    color: black;
}
.foot:hover .btn2{
    color: black;
}
.fa-arrow-up::before{
    margin: 0px 16px 0px 0px;
}
.btn2{
    padding: 8px 16px;
    color: #777777;
    background-color: white;
    border: none;
}
.btn2:hover{
    background-color: lightgray;
}
button{
    cursor: pointer;
}
.awesomee{
    color: white;
    margin: 16px 0px;
    padding: 8px;
}
.fa-facebook-square:hover{
    color: #777777;
    cursor: pointer;
}
.fa-instagram:hover{
    color: #777777;
    cursor: pointer;
}
@media screen and (max-width:900px){
    

}


    
@media(max-width:700px)
{
 
    .add{

        padding-top: 100px;
        /*it could work at this condition only*/
    }
    .sizing{

        
        background-size: 100% 100%;
        
    }
  
}